h2 {
    font-family: 'Times New Roman', serif;
    font-size: 22px;
    color: limegreen;
}

p {
    text-align: justify;
}

blockquote {
    font-style: italic;
}

q {
    font-style: italic;
}

img {
    display: block;
    width: 300px;
    border: 8px solid limegreen;
    margin: 0 auto;
}

#styled-paragraph {
    border: 3px solid limegreen;
    padding: 10px;

    background-image: url('../imagens/fundo.png');
}